* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
body {
   display: flex;
   flex-direction: column;
   margin: 0;
   border: 0;
   padding: 0;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   min-height: 100vh;
}

/*Header Section*/
header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: 98px;
   background-color: #fafafa;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1380px;
   max-width: auto;
   height: 90px;
   font-family: "Martel Sans", sans-serif;
   font-weight: 600;
   font-size: 0.9em;
}

a {
   text-decoration: none;
   cursor: pointer;
}

a:link {
   color: #242424;
   text-decoration: none;
}
a:visited {
   color: #242424;
   text-decoration: none;
}
a:active {
   color: #242424;
   text-decoration: none;
}

.logo-header {
   display: inline;
   width: 110px;
   height: 45px;
   margin: 10px 0 0 20px;
   transition: transform 0.2s;
}

.logo-header:hover {
   transform: scale(1.03);
}

.nav-menu {
   display: inline-flex;
   align-items: flex-end;
   width: 280px;
   height: 50px;
}

.links-nav li {
   display: inline-flex;
   margin: 13px 15px 0 15px;
   text-decoration: none;
   list-style-type: none;
   border-bottom: 2px solid transparent;
   color: black;
   cursor: pointer;
}
.links-nav a:visited {
   color: #000000;
}
.links-nav li:hover {
   border-bottom: 2px solid #5e17eb;
}

.links-nav li:active {
   border-bottom: 2px solid #5e17eb;
}

.about-page {
   text-decoration: none;
   opacity: 0.8;
}

.about-page:hover {
   text-decoration: none;
   opacity: 1;
}

.resume-page {
   text-decoration: none;
   opacity: 0.8;
}

.resume-page:hover {
   opacity: 1;
}

.projects-page {
   opacity: 0.8;
}

.projects-page:hover {
   opacity: 1;
}

/*Main Section*/

main {
   display: flex;
   flex: 1;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: auto;
   background-color: #f7f3f1;
}
.main-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 833px;
}
.main-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 832px;
   max-width: auto;
}
.img-circular {
   position: relative;
   width: 390px;
   height: 390px;
   overflow: hidden;
   border-radius: 50%;
   transition: transform 0.2s;
}

.img-circular:hover {
   transform: scale(1.01);
}
.img-profile {
   width: 100%;
   height: auto;
}

.profile-section {
   justify-content: center;
   align-self: center;
   margin: 0 0 10px 120px;
}

.right-container {
   display: flex;
   flex-direction: column;
   width: 470px;
   height: 370px;
   margin: 0 0 18px 30px;
}

.hello {
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   color: #5e17eb;
   font-size: 4.7em;
   padding-bottom: 5px;
   margin-bottom: 20px;
}

.main-buttons {
   width: 250px;
   height: 50px;
   margin-bottom: 20px;
}

.btn-about {
   width: 98px;
   height: 34px;
   align-items: center;
   padding-top: 2px;
   border-radius: 30px;
   margin-right: 8px;
   background-color: #e7ecff;
   font-family: "Martel Sans", sans-serif;
   font-weight: 600;
   font-size: 0.86em;
   color: #242424;
   border: 2px solid transparent;
   box-shadow: 0px 15px 10px -15px rgb(180, 174, 174);
}

.btn-about:hover {
   background-color: #ffffff;
   color: #553fd4;
   border: 2px solid #553fd4;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.btn-resume {
   width: 99px;
   height: 35px;
   padding-top: 2px;
   align-items: center;
   margin-left: 3px;
   border-radius: 30px;
   background-color: #fde992;
   font-family: "Martel Sans", sans-serif;
   font-weight: 600;
   font-size: 0.86em;
   color: #242424;
   border: 2px solid transparent;
   box-shadow: 0px 15px 10px -15px rgb(180, 174, 174);
}
.btn-resume:hover {
   background-color: #ffffff;
   color: #fbd200;
   border: 2px solid #ffd500;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
}
.intro {
   font-family: "DM Sans", sans-serif;
   color: #1c1b1b;
   width: 450px;
   height: 190px;
   font-weight: 400;
   font-size: 0.98em;
   word-spacing: 1px;
}

.intro p {
   line-height: 25px;
   margin: 9px 0;
}
/*Footer Section*/

footer {
   display: flex;
   flex-shrink: 1;
   position: relative;
   justify-content: flex-end;
   align-items: center;
   width: 1685px;
   height: 80px;
   max-width: auto;
   min-width: auto;
   background-color: #ffffff;
   box-shadow: 0 0 50px 0 rgb(246, 242, 242);
   z-index: 1;
}

.icons-footer {
   display: inline-flex;
   align-items: flex-end;
   margin-right: 150px;
   width: 155px;
   max-width: auto;
   height: 30px;
}

.icon-link1,
.icon-link2,
.icon-link3 {
   padding: 0 10px 0 10px;
   width: 45px;
   height: 28px;
}

.icon-link1 {
   opacity: 0.8;
}

.icon-link1:hover {
   opacity: 1;
}
.icon-link2 {
   opacity: 0.75;
}

.icon-link2:hover {
   opacity: 1;
}
.icon-link3 {
   opacity: 0.75;
}

.icon-link3:hover {
   opacity: 1;
}

/* About Page */

.main-about {
   display: flex;
   flex: 1;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: auto;
   background-color: #fafafa;
}

.purple-bg {
   display: flex;
   position: absolute;
   justify-content: center;
   align-content: center;
   width: 1017px;
   height: 260px;
   margin-top: 45px;
   background-color: #520edb;
   z-index: 3;
}

.about-wrap {
   display: flex;
   position: absolute;
   justify-content: center;
   width: 1480px;
   height: auto;
   margin-left: 5.3%;
   z-index: 1;
   background-color: #fafafa;
}
.about-container {
   display: flex;
   position: absolute;
   align-self: center;
   vertical-align: center;
   width: 960px;
   height: 520px;
   z-index: 5;
   background-color: #ffffff;
   box-shadow: 0px 15px 10px -15px rgb(180, 174, 174);
}

.about-header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: 98px;
   background-color: #fafafa;
}

.about-left {
   height: 520px;
   width: 479px;
}

.img-travel img {
   display: block;
   position: absolute;
   width: 410px;
   height: 520px;
   margin-left: 7.5%;
}

.title-about {
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   width: 280px;
   color: #5e17eb;
   font-size: 2.5em;
   border-bottom: 2px solid #f3c130;
   padding: 5px 0 5px 0;
   margin: 37px 0 35px 50px;
}

.p-intro {
   font-family: "DM Sans", sans-serif;
   color: #1c1b1b;
   width: 420px;
   height: 360px;
   margin: 28px 0 0 50px;
   font-weight: 400;
   font-size: 0.96em;
   word-spacing: 1px;
}

.p-intro p {
   line-height: 38px;
   margin: 11px 0;
}

.grey-bg {
   width: 1477px;
   display: flex;
   position: relative;
   margin-top: 10.5%;
   height: 515px;
   background-color: #f7f3f1;
   z-index: 2;
}

/*Resume Page */
.main-resume {
   display: flex;
   justify-content: center;
   align-content: center;
   align-self: right;
   flex: 1;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: auto;
   background-color: #f7f3f1;
}
.top-resume {
   display: block;
   position: absolute;
   justify-content: center;
   align-items: center;
   align-content: center;
   width: 280px;
   height: 90px;
   margin-top: 48px;
}
.title-resume {
   font-family: "Raleway", sans-serif;
   align-self: center;
   text-align: center;
   font-weight: 600;
   color: #5e17eb;
   font-size: 2.5em;
   margin-top: 25px;
   border-bottom: 2px solid #f3c130;
}

.h2-resume {
   display: flex;
   position: absolute;
   justify-content: flex-start;
   align-content: flex-start;
   width: 760px;
   height: 30px;
   margin-top: 210px;
}

.ex-resume {
   align-self: left;
   color: #242424;
   font-family: "DM Sans", sans-serif;
   font-weight: 800;
   font-size: 1.3em;
}
.experience-1 {
   display: flex;
   position: relative;
   align-self: center;
   width: 760px;
   height: 280px;
   margin-top: 80px;
   background-color: #ffffff;
   border: 1px solid transparent;
   box-shadow: 0px 15px 10px -15px rgb(180, 174, 174);
}

.resume-right {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: center;
   text-align: left;
   width: 400px;
   height: 180px;
   margin-left: 40px;
   margin-top: 50px;
}

.resume-left {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-self: center;
   width: 250px;
   height: 100px;
   margin-left: 48px;
   line-height: 29px;
}

.date {
   color: #5e17eb;
   font-family: "Raleway", sans-serif;
   font-weight: bolder;
   font-size: 1.2em;
}

.position {
   color: #242424;
   font-family: "Martel Sans", sans-serif;
   font-weight: 500;
   font-size: 1em;
   margin-bottom: 10px;
}
.company {
   color: #242424;
   font-family: "Raleway", sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 0.95em;
}
.job-resume {
   font-family: "DM Sans", sans-serif;
   color: #1c1b1b;
   margin: 28px 0 0 50px;
   font-weight: 400;
   font-size: 0.96em;
   word-spacing: 1px;
}

.job-resume p {
   line-height: 38px;
   margin: 11px 0;
}

/* Projects Page */

.main-projects {
   display: flex;
   flex: 1;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: auto;
   background-color: #fafafa;
}

.projects-blue {
   display: flex;
   position: absolute;
   justify-content: center;
   align-content: center;
   width: 1017px;
   height: 260px;
   margin-top: 45px;
   background-color: #ffcc5c;
   z-index: 3;
}

.projects-wrap {
   display: flex;
   position: absolute;
   justify-content: center;
   width: 1480px;
   height: auto;
   margin-left: 5.3%;
   z-index: 1;
   background-color: #fafafa;
}
.projects-container {
   display: flex;
   position: absolute;
   align-self: center;
   vertical-align: center;
   width: 960px;
   height: 520px;
   z-index: 5;
   background-color: #ffffff;
   box-shadow: 0px 15px 10px -15px rgb(180, 174, 174);
}

.about-header {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1665px;
   max-width: auto;
   min-width: auto;
   height: 98px;
   background-color: #fafafa;
}

.projects-left {
   height: 520px;
   width: 479px;
}

.img-projects img {
   display: block;
   position: absolute;
   width: 410px;
   height: 520px;
   margin-left: 7.5%;
}

.title-projects {
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   width: 280px;
   color: #5e17eb;
   font-size: 2.5em;
   border-bottom: 2px solid #f3c130;
   padding: 5px 0 5px 0;
   margin: 40px 0 35px 50px;
}

.p-definition {
   font-family: "DM Sans", sans-serif;
   color: #1c1b1b;
   width: 320px;
   height: 360px;
   margin: 45px 0 0 50px;
   font-weight: 400;
   font-size: 0.96em;
   word-spacing: 1px;
}

.p-definition p {
   line-height: 38px;
   margin: 11px 0;
}

.projects-bg {
   width: 1477px;
   display: flex;
   position: relative;
   margin-top: 10.5%;
   height: 515px;
   background-color: #f7f3f1;
   z-index: 2;
}
